<%= form_for(@sign_motion) do |f| %>
  <% if @sign_motion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sign_motion.errors.count, "error") %> prohibited this sign_motion from being saved:</h2>

      <ul>
      <% @sign_motion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
