<p id="notice"><%= notice %></p>

<h1>App for sign language study</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"> Ведуться технічні роботи.</th>
    </tr>
     <tr>
      <th colspan="3"> </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<br>
